<launch>
  <!-- Arguments -->
  <arg name="scan_topic"     default="scan"/>
  
  <arg name="model" default="$(env TURTLEBOT3_MODEL)"/>
  <!--<arg name="bag_name" default="fixed_slam_easy"/>-->
  <!--<arg name="map_file" default="$(find turtlebot3_datasets)/data/map.yaml"/>-->
  <arg name="map_file" default="$(find turtlebot3_gazebo)/LSDC4_run2_bag.yaml"/>
  <arg name="move_forward_only" default="false"/>

  <!-- Turtlebot3 -->
  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
    <arg name="model" value="$(arg model)" />
  </include>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- ROSBAG -->
  <param name="/use_sim_time" value="true"/>
  <node pkg="rosbag" type="play" name="rosbag_player" 
          args="--clock $(find turtlebot3_gazebo)/run1_moving_obs.bag"/>

  <!-- rviz -->
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find rrt_planner)/rviz/dwa_nav_robot.rviz"/>
  
</launch>
